{% extends 'sysinfo/base.html' %}

{% block title %}
    Department - {{ department }}
{% endblock %}

{% block content %}
    <h2>{{ department }}</h2>
    <ul class="ezu-button-list">
        <li>
            <a href="{{ department.get_update_url }}"
                class="button button-primary">
                Edit Department</a></li>
        <li>
          <a href="{{ department.get_delete_url }}"
             class="button button-primary">
              Delete Department</a></li>
    </ul>
    <section>
        <table>
            <tr>
                <th>Department Number:</th>
                <td>{{ department.department_number }}</td>
            </tr>
            <tr>
                <th>Department Name:</th>
                <td>{{ department.department_name }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Diseases</h3>
        <ul>
            {% for disease in disease_list %}
                <li>
                    <a href="{{ disease.get_absolute_url }}">{{ disease }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no diseases for this department.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
