{% extends 'sysinfo/base.html' %}

{% block title %}
    Department - {{ department }}
{% endblock %}

{% block content %}
    <h2>{{ department }}</h2>
    <section>
        <table>
            <tr>
                <th>Department Number:</th>
                <td>{{ department.department_number }}</td>
            </tr>
            <tr>
                <th>Department Name:</th>
                <td>{{ department.department_name }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Diseases</h3>
        <ul>
            {% for disease in disease_list %}
                <li>
                    <a href="">{{ disease }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no diseases for this department.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
