{% extends 'sysinfo/base.html' %}

{% block title %}
    Disease - {{ disease }}
{% endblock %}

{% block content %}
    <h2>{{ disease }}</h2>

    <section>
        <table>
            <tr>
                <th>Department:</th>
                <td><a href="">{{ department }}</a></td>
            </tr>
            <tr>
                <th>Disease Name:</th>
                <td>{{ disease.disease_name }}</td>
            </tr>
            <tr>
                <th>Hospital:</th>
                <td><a href="">{{ hospital }}</a></td>
            </tr>

            <tr>
                <th>Doctor:</th>
                <td><a href="">{{ doctor }}</a></td>
            </tr>
        </table>

    </section>

    <section>
        <h3>Treatment</h3>
        <ul>
            {% for treatment in treatment_list %}
                <li>
                    <a href="">{{ treatment.patient }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no patients have this disease.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
