{% extends 'sysinfo/base.html' %}

{% block title %}
    Disease List
{% endblock %}

{% block content %}
    <h2>Disease List</h2>
    <div>
      <a href="{% url 'sysinfo_disease_create_urlpattern' %}">
        Create New Disease</a>
    </div>
    <ul>
        {% for disease in disease_list %}
            <li>
                <a href="{{ disease.get_absolute_url }}">{{ disease }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no diseases available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
