{% extends 'sysinfo/base.html' %}

{% block title %}
    Disease - {{ disease }}
{% endblock %}

{% block content %}
    <h2>{{ disease }}</h2>
    <ul class="ezu-button-list">
        <li>
          <a href="{{ disease.get_update_url }}"
             class="button button-primary">
            Edit Disease</a></li>
        <li>
          <a href="{{ disease.get_delete_url }}"
             class="button button-primary">
            Delete Disease</a></li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Department:</th>
                <td><a href="{{ department.get_absolute_url }}">{{ department }}</a></td>
            </tr>
            <tr>
                <th>Disease Name:</th>
                <td>{{ disease.disease_name }}</td>
            </tr>
            <tr>
                <th>Hospital:</th>
                <td><a href="{{ hospital.get_absolute_url }}">{{ hospital }}</a></td>
            </tr>

            <tr>
                <th>Doctor:</th>
                <td><a href="{{ doctor.get_absolute_url }}">{{ doctor }}</a></td>
            </tr>
        </table>

    </section>

    <section>
        <h3>Treatments</h3>
        <ul>
            {% for treatment in treatment_list %}
                <li>
                    <a href="{{ treatment.get_absolute_url }}">{{ treatment.patient }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no patients have this disease.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
