{% extends 'sysinfo/base.html' %}

{% block title %}
    Doctor List
{% endblock %}

{% block content %}
    <h2>Doctor List</h2>
    <div>
      <a href="{% url 'sysinfo_doctor_create_urlpattern' %}"
      class="button button-primary">
        Create New Doctor</a>
    </div>
    <ul>
        {% for doctor in doctor_list %}
            <li>
                <a href="{{ doctor.get_absolute_url }}">{{ doctor }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no doctors available.</em></li>
        {% endfor %}
    </ul>

      {% if is_paginated %}
    <ul>
      {% if previous_page_url %}
        <li>
          <a href="{{ previous_page_url }}">
            Previous</a>
        </li>
      {% endif %}
      <li>
        Page {{ doctor_list.number }}
        of {{ paginator.num_pages }}
      </li>
      {% if next_page_url %}
        <li>
          <a href="{{ next_page_url }}">
            Next</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
