{% extends 'sysinfo/base.html' %}

{% block title %}
    Hospital - {{ hospital }}
{% endblock %}

{% block content %}
    <h2>{{ hospital }}</h2>
    <ul class="ezu-button-list">
        <li>
          <a href="{{ hospital.get_update_url }}"
             class="button button-primary">
            Edit Hospital</a></li>
        <li>
          <a href="{{ hospital.get_delete_url }}"
             class="button button-primary">
            Delete Hospital</a></li>
    </ul>

    <section>
        <h3>Diseases</h3>
        <ul>
            {% for disease in disease_list %}
                <li>
                    <a href="{{ disease.get_absolute_url }}">{{ disease }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no diseases for this hospital.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
