{% extends 'sysinfo/base.html' %}

{% block title %}
    Delete Hospital
{% endblock %}

{% block content %}
    <form
        action="{{ hospital.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            hospital {{ hospital }}?
        </p>
        <a href="{{ hospital.get_absolute_url }}"
           class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Hospital</button>
    </form>
{% endblock %}
