{% extends 'sysinfo/base.html' %}

{% block title %}
    Patient - {{ patient }}
{% endblock %}

{% block content %}
    <h2>{{ patient }}</h2>
    <ul>
        <li>
          <a href="{{ patient.get_update_url }}">
            Edit Patient</a></li>
          <a href="{{ patient.get_delete_url }}">
            Delete Patient</a></li>
    </ul>

    <section>
        <table>
            <tr>
                <th>First Name:</th>
                <td>{{ patient.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ patient.last_name }}</td>
            </tr>
            {% if patient.disambiguator %}
                <tr>
                    <th>Disambiguator:</th>
                    <td>{{ patient.disambiguator }}</td>
                </tr>
            {% endif %}
        </table>
    </section>

    <section>
        <h3>Treatments</h3>
        <ul>
            {% for treatment in treatment_list %}
                <li>
                    <a href="{{ treatment.get_absolute_url }}">{{ treatment.section }}</a>
                </li>
            {% empty %}
                <li><em>This patient is not currently have any diseases.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
