{% extends 'sysinfo/base.html' %}

{% block title %}
    Treatment - {{ treatment }}
{% endblock %}

{% block content %}
    <h2>{{ treatment }}</h2>
    <ul class="ezu-button-list">
        <li>
          <a href="{{ treatment.get_update_url }}"
             class="button button-primary">
            Edit Treatment</a></li>
        <li>
          <a href="{{ treatment.get_delete_url }}"
             class="button button-primary">
            Delete Treatment</a></li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Patient:</th>
                <td><a href="{{ patient.get_absolute_url }}">{{ patient }}</a></td>
            </tr>
            <tr>
                <th>Disease:</th>
                <td><a href="{{ disease.get_absolute_url }}">{{ disease }}</a></td>
            </tr>
        </table>
    </section>

{% endblock %}
